sudo: required
services:
  - docker

before_install:
  - docker build -e CI=true -t valerq/react-test -f ./client/Dockerfile.dev .

script:
  - docker run valerq/react-test npm test -- --coverage

after_success:
  - docker build -t valerq/multi-client ./client
  - docker build -t valerq/multi-nginx ./nginx
  - docker build -t valerq/multi-server ./server
  - docker build -t valerq/multi-worker ./worker
  # Log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push valerq/multi-client
  - docker push valerq/multi-nginx
  - docker push valerq/multi-server
  - docker push valerq/multi-worker